header{
    background-color: #fcfc30;
    height: 65px;
    padding: 8px 0;
}  
.LogoCabecalho{
    height: 58px;
    position: relative;
    margin: 0 0 0 150px;
    display: inline-block;
    
}
header ul{
    list-style: none;
    position: relative;
    margin-left: 80%;
    margin-top: -30px;
    align-items: center;
}
header ul:hover .ItemCabecalho{
    padding: 0 0 0 10px;
}
header ul li{
    display: inline-block;
    padding: 0 5px 0 0;
    transition: 0.3s;
    color: #525dff;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}
body {
    background: url(../img/Banner1.jpg);
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: 2060px;
}
.Banner{

    height: 570px;
    width: 40%;
    margin-top: 100px;
    margin-left: 160px;
}
.Lista1 li{

    display: inline-block;
    padding: 0 5px 0 0;
    color: white;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
.IconeCasa{
    height: 16px;
}
.Lista1 li a:visited{
    color: white;
    text-decoration: none;
}
.Conta{
    margin-top: 2%;
}
.Conta h1{
    font-size: 700%;
    color: #fcfc30;
    font-family: 'Oswald', sans-serif;
}
.Conta100Digital{
    color: white;
    font-family: Arial, Helvetica, sans-serifs;
    font-size: 27px;
    padding: 7% 0;
}
.QRCODE {
    height: 80px;
    list-style: none;
    width: 300px;
}
.QRCODE li{
    display: inline;;
}
.QR img{
    height: 93px;
}
.Text {
    background-color: #fcfc30;
    position: absolute;
    width:170px;
    text-align:left;
    font-size: 18px;
    padding: 11px 20px 11px 10px;
    border-radius: 0 10px 10px 0;
    color: #585b65;
}
.pt2{
    width: 800px;
}
.pt2 h1{
    color: #fa796d;
    font-size: 50px;
    font-family:sans-serif;
}
.pt2 p{
    color: #767a86;
    font-size: 22px;
}
